*{
    padding: 0px;
    margin: 0px;
  
}



@media screen  and (max-width:100px){
    .ambii{
        width: 100%;
        height: auto;
        margin-left: 0%;
} 
}
.fa-solid{
    color: red;
}

.one{
    color: white;
}
.one1{
    padding: 40px 40px 40px 40px;
}

.two2{
    padding: 40px 0px 20px 40px;
}



.btn1{
    background-color: lightgreen;
    color: white;
    margin-left: 70px;
    justify-content: center;
    width: 200px;
    height: auto;
    border-radius: 3px 3px 3px 3px;
    border: none;

}
.btn1:hover{
    background-color: red;
}

.but01{
    color:white ;
    padding: 20px 20px 20px 20px;
}

.img{
    width:600px;
    height: 700px;
    padding: 20px 20px 0px 10px;
    
}

@media screen  and (max-width:700px){
    .img{
        width:350px;
        height: 400px;
    }
}
.start3{
    padding: 40px 0px 20px 30px ;
}
.start4{
    padding: 0px 0px 20px 30px ;
    color: white;
}
.start5
{
    color: white;
    list-style-type: none;
}


.flex-container{
    width: 95%;
    height: auto;
    display: flex;
    margin: 3px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    

}
@media screen  and (max-width:150px){
    .flex-container{
        width:420px;
    }
}

.flex-box{
    display: flex;
    gap: 8px;
    width: 250px;
    height: 100px;
    padding: 20px 20px;
    border: 1px solid black;
    overflow-x: hidden;
    border-radius: 3px;
}
@media screen  and (max-width:300px){
    .flex-box{
        width:35%;
    }
}


.flex-container2{
    width: 95%;
    height: auto;
    display: flex;
    margin: 3px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    

}

.flex-box2{
    display: flex;
    gap: 8px;
    width: 250px;
    height: 100px;
    padding: 20px 20px;
    border: 1px solid black;
    overflow-x: hidden;
    border-radius: 3px;
}


@media screen  and (max-width:300px){
    .flex-box2{
        width:35%;
    }
}


.card-text{
    color: rgb(199, 59, 59);
    font-size: 20px;
    font-weight: bold;
}
.card-text2{
    font-size: 20px;
    font-style: normal;
    line-height: 30px;
}


.grid{
    background-image: url("/codeweb/grid.png");
    
}

.card h-100{
    padding-left: 30px;

}


.flex-box3{
    display: flex;
    width: 150px;
    height: 60px;
    padding: 10px 10px;
    border: 2px solid black;
    border-radius: 3px;
}

@media screen  and (max-width:300px){
    .flex-box3{
        width:35%;
    }
}

.flex-container3{
    line-height: 20px;
    display: flex;
    margin: 3px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
}

.head{
    display: list-item;
    justify-content: flex-start;
    align-content: column;
    
}
.frames2{
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    gap: 30px;
    margin-right: 0px;
}
.img2{
    width: 180px;
    height: 400px;
    border-radius: 5px 90px 5px 90px ;
    border: 1px solid #333; 
    
   
   
}
@media screen  and (max-width:400px){
    .img2{
        width:150px;
        height: 400px;
    }
}
.ourteam{
    margin: 70px;
    margin-bottom: 10px;

}


.footright{
    color: rgb(148, 145, 145);
    padding: 40px 30px ;
    padding-left: 0px;

   
}
.imgl{
    margin: 70px;
}

.footbox{
    display: flex;
    border: 1px solid white;
    justify-content: center;
    align-content: center;
}
.box{
    border: 2px solid white;
    margin: 0px 60px 0px 60px;
    height: auto;
}


.fa-brands{
    color: blue;
}
.lasticon{
    display: inline;
    justify-content: space-around;
    
}
.sr{
    color: red;

}
.sra{
    color: brown;
}
.srav{
    color: green;
    
}

.vijju{
    justify-content: center;
    gap: 100px;
}

@media screen  and (max-width:600px){
    .card{
        justify-content: center;
        align-content: center;
        margin-left: 50px;
       
    }
}
